# ==============================
# COPERNICUS MARINE CREDENTIALS
# ==============================
COPERNICUSMARINE_SERVICE_USERNAME=your_username_here
COPERNICUSMARINE_SERVICE_PASSWORD=your_password_here

# ==============================
# NRT MODEL
# ==============================
COPERNICUS_MODEL_PRODUCT=GLOBAL_ANALYSISFORECAST_PHY_001_024
COPERNICUS_TEMP_DATASET=cmems_mod_glo_phy-thetao_anfc_0.083deg_P1D-m
COPERNICUS_SAL_DATASET=cmems_mod_glo_phy-so_anfc_0.083deg_P1D-m
COPERNICUS_CURRENT_DATASET=cmems_mod_glo_phy-cur_anfc_0.083deg_P1D-m

# ==============================
# NRT ARGO / INSITU
# ==============================
COPERNICUS_INSITU_PRODUCT=INSITU_GLO_PHYBGCWAV_DISCRETE_MYNRT_013_030
COPERNICUS_INSITU_DATASET=cmems_obs-ins_glo_phybgcwav_mynrt_na_irr

# ==============================
# INDIAN OCEAN BOUNDING BOX
# ==============================
OCEAN_MIN_LON=30
OCEAN_MAX_LON=120
OCEAN_MIN_LAT=-30
OCEAN_MAX_LAT=30

# ==============================
# CACHE
# ==============================
COPERNICUS_CACHE_TTL=900

# ==============================
# OCEANFUSION DATA SOURCES
# ==============================
OCEANFUSION_MODEL_SOURCE=hycom
OCEANFUSION_ARGO_SOURCE=erddap
OCEANFUSION_MODEL_PATH=data/model/OceanFusion_HYCOM_small.nc
OCEANFUSION_CSV_PATH=data/Indian_ARGO_Floats.csv
OCEANFUSION_ERDDAP_URL=https://erddap.incois.gov.in/erddap/tabledap/Indian_ARGO_Floats.csv
